*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    /* font-family: 'Merriweather', serif; */
    font-family: 'Tektur', cursive;
}
body{
    background-color: black;
    color: aliceblue;
}
a{
    color: aliceblue;
    text-decoration: none;
}






